@use '../global'as *;
@forward "./src/scss/components/field";
@forward "./src/scss/components/field-upload";
@forward "./src/scss/components/custom-select";

.audit-form {
  width: 100%;
  min-height: 200px;

  &_frame {
    padding: 42px 56px;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: $white;

    @media screen and (max-width: $bp-tablet) {
      padding: 24px 12px;
    }
  }

  &_blur {
    filter: blur(2px);
    pointer-events: none;
  }
}

.audit-form__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.audit-form__form {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  &.loading {
    pointer-events: none;
    opacity: 0.6;

    .loader_form {
      display: block;
    }
  }
}

.audit-form__submitted {
  width: 100%;
  display: none;
  flex-direction: column;

  &.active {
    display: flex;
  }
}

.audit-form__sent-img {
  object-fit: contain;
  width: 72%;
  margin: 0 auto 1em;
  display: inline-block;
  object-position: bottom center;
}

.audit-form__input {
  &:not(:first-child) {
    margin-top: 1em;
  }
}
