@use '../global' as *;

%tmp-input {
  $textColorInput: #B7B7B7;
  $borderColorInput: rgba(0, 0, 0, 0.3);


  background: $white;
  color: $black;

  &::placeholder {
    color: $borderColor;
  }

  text-align: left;

  @include font-size(14px);
  padding: 10px 20px;

  border: 1px solid $borderColor;
  border-radius: 6px;

  @media (min-width: $bp-large) {
    border: #{get-vw(1px, $bp-large)} solid $borderColor;
    border-radius: #{get-vw(6px, $bp-large)};
  }
}


.custom-select {
  position: relative;

  &__inner {
    display: none;
  }
}

.select-selected {
  @extend %tmp-input;
  @extend %text-default;
  background-color: $white;
  cursor: pointer;
  position: relative;
  z-index: #{$z-index-select-items + 1};

  &:focus {
    border: 2px solid $green;
  }

  /* Стиль стрелки внутри элемента выбора: */
  &:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #CECECE transparent transparent transparent;
  }
}

/* Направьте стрелку вверх, когда поле выбора открыто (активно): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #CECECE transparent;
  top: 7px;
}

/* стиль пунктов (option) */
.select-items div {
  @extend %tmp-input;
  cursor: pointer;
  background-color: $white;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #ECECEC;
  }

  &:first-of-type {
    padding-top: 12px;
  }
}

/* Style items (options): */
.select-items {
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  z-index: $z-index-select-items;
  background-color: $white;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.same-as-selected {
  background-color: #ECECEC;
}
