@use '../global'as *;

.faq-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.faq-form__textarea {
  font-family: $fontMain;
  width: 100%;
  text-align: left;
  resize: none;
  overflow: auto;
  vertical-align: top;
  min-height: 93px;
  outline: none;
}

.faq-form__submit-group {
  display: flex;
  margin-top: 1em;

  @media screen and (max-width: $bp-mobile) {
    flex-direction: column;
    width: 100%;
  }
}

.faq-form__submit-input {
  flex: 4;
}

.faq-form__submit-btn {
  flex: 1;
  margin-left: 1em;

  @media screen and (max-width: $bp-mobile) {
    margin: 12px 0;
  }
}
