@use '../global'as *;

.features-grid {
  width: 100%;
  margin: 0 auto 48px;
}

.features-grid__inner {
  display: grid;
  justify-content: center;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 48px;

  @media screen and (max-width: $bp-mobile) {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  }

  &_slider {
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: $bp-laptop) {
      grid-template-columns: repeat(2, 1fr);
    }

    &:after {
      content: '';
    }

    @media screen and (max-width: $bp-menu) {
      gap: 0;
      max-width: 100%;
      padding: 0;
      display: block;
      width: 100%;
      margin: 0;

      &:after {
        content: 'flickity';
        display: none;
      }
    }
  }
}

.features-grid__item {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;

  @media screen and (max-width: $bp-menu) {
    &_slider {
      width: 70%;
      padding: 0 12px;
      min-height: 156px;
    }
  }
}
