@use '../global'as *;

.field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.field__input {
  @extend %text-default;
  height: 100%;
  font-size: 16px;
  display: block;
  background: $white;
  border: 1px solid $borderColor;
  border-radius: 0.4em;
  padding: 0.6em 0.8em;
  outline: none;

  &:focus {
    border: 1px solid $outline-green;
  }
}

.field__error {
  @extend %text-default;
  @include font-size(12px);
  display: none;
  color: red;
  padding-top: 0.4em;

  &.active {
    display: inline-block;
  }
}
