@use '../global'as *;

$list-colors: ("black": #000,
        "white": #FFF,
        "gray": #00000066,
        "gray-blue": #0D1D47,
        "yellow": #FFC700,
        "green": #219653,
        "bronze": #BD8C4E,
        "silver": #B5B5B5,
        "gold": #ECBA40,
        "platinum": #9195A3,
        "red": red,
);

.list {
  counter-reset: counter-list;

  & > li {
    counter-increment: counter-list;
    display: flex;
    align-items: stretch;
    margin-top: 1em;
  }

  & > li::before {
    content: "";
    background-color: green;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 0.5em;
    color: white;
    margin-right: 0.52em;
    flex: 0 0 auto;
    margin-top: 0.4em;
  }

  &_color {
    @each $color,
    $val in $list-colors {
      &_#{$color} > li::before {
        background-color: $val;
      }
    }
  }

  &_counter {
    & > li {
      align-items: stretch;
      margin-top: 1.5em;
    }

    & > li::before {
      margin-top: 0;
      font-family: $fontMain;
      @include font-size(20px);
      border-radius: 7px;
      padding: 1em;
      content: counter(counter-list);
    }
  }
}

.list__item-container {
  display: flex;
  flex-direction: column;
}
