@use '../global' as *;

.promo-slider {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.promo-slider__tabs {
  width: 100%;
  margin: 21px -12px 48px;

  @media screen and (max-width: $bp-tablet) {
    margin: 12px 0;
  }
}

.promo-slider__tab {
  margin: 12px;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  word-wrap: normal;
  min-width: fit-content;

  @media screen and (max-width: $bp-tablet) {
    margin: 2px 8px;
  }
}

.promo-slider__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.promo-slider__page {
  width: 100%;

  &:not(:first-child) {
    position: absolute;
    visibility: hidden;
  }

  &_init {

    &:not(:first-child) {
      position: static;
      visibility: visible;
    }
  }
}
