@use '../global' as *;

.promo-slider {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.promo-slider__tabs {
  width: 100%;
  margin: 21px -12px 48px;
  overflow: hidden;

  @media screen and (max-width: $bp-tablet) {
    margin: 12px 0;
  }
}

.promo-slider__tab {
  margin: 12px;
  text-align: center;
  flex-shrink: 0;
  word-wrap: normal;
  white-space: nowrap;
  width: auto;
  display: inline-block;

  @media screen and (max-width: $bp-tablet) {
    margin: 2px 8px;
  }
}

.promo-slider__content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.promo-slider__page {
  width: 100%;
  justify-content: center;
  min-height: 50vh;

  @media screen and (max-width: $bp-tablet) {
    justify-content: flex-start;
    min-height: auto;
  }

  &:not(:first-child) {
    position: absolute;
    visibility: hidden;
    margin-left: 64px;
  }

  &_init {

    &:not(:first-child) {
      position: static;
      visibility: visible;
    }
  }
}
