@use '../global' as *;

.promo-slider {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.promo-slider__tabs-wrapper {
  width: 100%;
  overflow-x: scroll;
  margin: 21px 0 48px;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  @media screen and (max-width: $bp-tablet) {
    margin: 12px 0;
  }
}

.promo-slider__tabs {
  width: max-content;
}

.promo-slider__tab {
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  flex-shrink: 0;
  word-wrap: normal;
  white-space: nowrap;
  width: auto;
  display: inline-block;

  &:not(:first-child) {
    margin-left: 12px;
  }

  @media screen and (max-width: $bp-tablet) {
    margin-top: 2px;
    margin-bottom: 2px;

    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}

.promo-slider__content {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.promo-slider__page {
  width: 100%;
  justify-content: center;
  min-height: 50vh;

  @media screen and (max-width: $bp-tablet) {
    justify-content: flex-start;
    min-height: auto;
  }

  &:not(:first-child) {
    position: absolute;
    visibility: hidden;
    margin-left: 64px;
  }

  &_init {

    &:not(:first-child) {
      position: static;
      visibility: visible;
    }
  }
}
