@use '../global'as *;

.social-list {
  display: flex;
  justify-content: space-between;

  &__item {
    border-radius: 12%;
    overflow: hidden;
    flex: 1;

    & + & {
      margin-left: 4%;
    }
  }

  &__link-img {
    object-position: center;
    object-fit: cover;
  }
}

.social-list_footer {
  margin-top: 1em;
  display: grid;
  width: 90%;
  gap: 1.25em;
  grid-template-columns: 1fr 1fr 1fr;
}
