@use '../global'as *;

.stage-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stage-slider__navbar {
  width: 100%;
  min-height: 72px;
  flex: 1;
  margin: 0 auto 12px;
}

.stage-slider__content {
  width: 75%;
  margin-bottom: 64px;
  min-height: 400px;
  flex: 1;
  position: relative;

  @media screen and (max-width: $bp-tablet) {
    width: 100%;
  }

  .flickity-prev-next-button {
    &.previous {
      left: -48px;
    }

    &.next {
      right: -48px;
    }

    @media screen and (max-width: $bp-tablet) {
      top: auto;
      bottom: -5em;

      &.previous {
        left: 24px;
      }
      &.next {
        right: 24px;
      }
    }
  }

  .flickity-button {
    background: #EAEAEA;
    border: none;
    color: #000;
  }
}

.stage-slider__slide {
  width: 100%;
  margin: 24px;

  &:not(:first-child) {
    position: absolute;
    visibility: hidden;
  }

  &_init {

    &:not(:first-child) {
      position: static;
      visibility: visible;
    }
  }
}

.stage-slider__slide-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 58px;
  min-height: 524px;

  @media screen and (max-width: $bp-tablet) {
    padding: 24px 18px;
    min-height: 428px;
  }
}

.stage-slider__nav-card {
  text-align: center;
  width: 120px;
  height: 100px;
  background: transparent;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 7px;
  flex: 0 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: background 150ms;

  position: relative;
  margin: 6px 12px;
  overflow: hidden;
  padding: 8px 8px 2px;

  & .stage-slider__nav-card-txt {
    @include font-size(10px);
    //position: absolute;
    //top: 0;
    //left: 50%;
    //transform: translateX(-50%);
  }

  & .stage-slider__nav-card-img {
    object-position: center;
    object-fit: contain;
    width: 100%;
    filter: blur(2px);
    transition: filter 150ms;
  }

  &:hover {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F5F5F5;

    .stage-slider__nav-card-img {
      filter: none;
    }
  }

  &.active, &.is-nav-selected {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F5F5F5;
    align-self: center;

    & .stage-slider__nav-card-img {
      filter: none;
    }
  }
}

.stage-slider__btn-group {
  display: flex;
  width: 100%;
  @media screen and (max-width: $bp-tablet) {
    flex-direction: column;
  }
}

.stage-slider__btn {
  &:not(:first-child) {
    margin-left: 1em;
  }

  @media screen and (max-width: $bp-tablet) {
    margin-left: 0;
    margin-top: 1em;
  }
}
