@use '../global'as *;

.steps-slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.steps-slider__col {
  flex-grow: 1;
}

.steps-slider__img-container {
  width: 100%;
  position: relative;
}

.steps-slider__img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;

  display: block;

  object-fit: contain;
  object-position: center;
  opacity: 0;
  z-index: -1;
  transition: transform ease-in-out 0.8s, opacity ease-in-out 0.8s, z-index ease-in-out 1.6s;

  &.active {
    z-index: 1;
    opacity: 1;
  }
}
