@use '../global'as *;


.div-university{
	width: 225px;
	height: 132px;
	display: flex;
	justify-content: center;
	align-items: center;
border-right: #fff solid 2px ;
}
.img-university {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 225px;
	height: 132px;



}

.block-width{
	align-items: center;
	width: 100%
}

.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel-nav .carousel-cell {
  height: 225px;
  width: 132px;
}

.carousel-nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}

.carousel-nav .carousel-cell.is-nav-selected {
  background: #ED2;
}
.carousel-cell-big {
	
	width: 292px;
}
.carousel-cell-big:before{
	display: block;
  text-align: center;
  content: counter(carousel-cell-big);
  line-height: 200px;
  font-size: 80px;
  color: white;
}