@use '../global'as *;


.div-university{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
div .img-university {
	display: flex;
	align-items: center;
	max-width: 225px;
	max-height: 132px;
	border-right: #fff solid 2px ;


}

.block-width{
	align-items: center;
	width: 100%
}