@use '../global' as *;

.cost-terms {
  width: 100%;
  flex-grow: 1;
}

.cost-terms__inner {
  display: flex;
  width: 100%;
}

.cost-terms__col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &_promo {
    width: 56%;
  }

  &_img {
    width: 44%;
  }
}

.cost-terms__img {
  display: block;
  object-fit: contain;
  object-position: center;
  margin-left: auto;
}

.cost-terms__desc {
  margin: 18px 0;
}

.cost-terms__btn {
  margin-top: auto;
}
