@use '../global'as *;

.promo {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &_effect {
    z-index: -1;
    opacity: 0;
    transition: opacity 0.55s cubic-bezier(0.15, 0.3, 0.25, 1) 0s;

    &.active {
      z-index: 1;
      opacity: 1;
    }
  }

  &_bg {
    &_gray {
      background-color: #F5F5F5;
    }
  }
}

.promo__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.promo__header {
  padding-bottom: 48px;
}

.promo__body {
  width: 100%;
  display: flex;
}

.promo__footer {
  width: 100%;
}

.promo__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;

  &:last-child {
    padding-left: 36px;
  }

  &_w60 {
    width: 60%;
  }

  &_w40 {
    width: 40%;
  }
}

.promo__img {
  object-fit: contain;
  object-position: top center;
  display: inline-block;
  border-radius: 1em;
  overflow: hidden;
}
