@use '../global' as *;

.promo-tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.promo-tabs__inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.promo-tabs__tabs {
  display: flex;
  justify-content: flex-start;
  margin: -12px;
  padding-top: 22px;
}

.promo-tabs__tab {
  margin: 12px;
}

.promo-tabs__btn-tab {
  height: 100%;
}

.promo-tabs__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.promo-tabs__page {
  position: absolute;
  top: 86px;
  left: 0;
  right: 0;
  bottom: 0;
}
