@use '../global'as *;

.section-prim {
  width: 100%;
}

.section-prim__header {
  padding-bottom: 48px;
}

.section-prim__body {
  display: flex;
  justify-content: space-between;
}

.section-prim__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% / 3);
}

.section-prim__footer {

}
