<meta name="facebook-domain-verification" content="gta4edmceapujfhozlol4f48p2ack2"/>
<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start': new Date().getTime(),
      event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-NF7Q6BJ');
</script>
<!-- End Google Tag Manager -->
<!-- VK Pixel Code -->
<script>
  !(function () {
    var t = document.createElement('script');
    (t.type = 'text/javascript'),
      (t.async = !0),
      (t.src = 'https://vk.com/js/api/openapi.js?162'),
      (t.onload = function () {
        VK.Retargeting.Init('VK-RTRG-837729-8F4Pd'),
          VK.Retargeting.Hit();
      }),
      document.head.appendChild(t);
  })();
</script>
<!-- End VK Pixel Code -->
<!-- Facebook Pixel Code -->
<script>
  !(function (f, b, e, v, n, t, s) {
    if (f.fbq) return;
    n = f.fbq = function () {
      n.callMethod ?
        n.callMethod.apply(n, arguments) :
        n.queue.push(arguments);
    };
    if (!f._fbq) f._fbq = n;
    n.push = n;
    n.loaded = !0;
    n.version = '2.0';
    n.queue = [];
    t = b.createElement(e);
    t.async = !0;
    t.src = v;
    s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s);
  })(
    window,
    document,
    'script',
    'https://connect.facebook.net/en_US/fbevents.js'
  );
  fbq('init', '2365479983546227');
  fbq('track', 'PageView');
</script>
<!-- End Facebook Pixel Code -->
<!-- Yandex.Metrika counter -->
<script>
  var yaParams = {
    ip: '<?=$_SERVER['
    REMOTE_ADDR'];?>',
  };
</script>
<script>
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
      try {
        w.yaCounter50181778 = new Ya.Metrika2({
          id: 50181778,
          params: window.yaParams,
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true,
          webvisor: true,
        });
      } catch (e) {
      }
    });

    var n = d.getElementsByTagName('script')[0],
      s = d.createElement('script'),
      f = function () {
        n.parentNode.insertBefore(s, n);
      };
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'https://mc.yandex.ru/metrika/tag.js';

    if (w.opera == '[object Opera]') {
      d.addEventListener('DOMContentLoaded', f, false);
    } else {
      f();
    }
  })(document, window, 'yandex_metrika_callbacks2');
</script>
<!-- /Yandex.Metrika counter -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125087961-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());
  gtag('config', 'UA-125087961-1');
</script>
<!-- Start for Saving cookie -->
<script>
  var utmCookie = {
    cookieNamePrefix: '_uc_',
    utmParams: [
      'utm_source',
      'utm_medium',
      'utm_campaign',
      'utm_term',
      'utm_content',
    ],
    cookieExpiryDays: 365,
    createCookie: function (c, d, e) {
      if (e) {
        var b = new Date();
        b.setTime(b.getTime() + e * 24 * 60 * 60 * 1000);
        var a = '; expires=' + b.toGMTString();
      } else {
        var a = '';
      }
      document.cookie =
        this.cookieNamePrefix + c + '=' + d + a + '; path=/';
    },
    readCookie: function (b) {
      var e = this.cookieNamePrefix + b + '=';
      var a = document.cookie.split(';');
      for (var d = 0; d < a.length; d++) {
        var f = a[d];
        while (f.charAt(0) == ' ') {
          f = f.substring(1, f.length);
        }
        if (f.indexOf(e) == 0) {
          return f.substring(e.length, f.length);
        }
      }
      return null;
    },
    eraseCookie: function (a) {
      this.createCookie(a, '', -1);
    },
    getParameterByName: function (b) {
      b = b.replace(/[\[]/, '\\[')
        .replace(/[\]]/, '\\]');
      var a = '[\\?&]' + b + '=([^&#]*)';
      var d = new RegExp(a);
      var c = d.exec(window.location.search);
      if (c == null) {
        return '';
      } else {
        return decodeURIComponent(c[1].replace(/\+/g, ' '));
      }
    },
    utmPresentInUrl: function () {
      var d = false;
      for (var a = 0; a < this.utmParams.length; a++) {
        var c = this.utmParams[a];
        var b = this.getParameterByName(c);
        if (b != '' && b != undefined) {
          d = true;
        }
      }
      return d;
    },
    writeUtmCookieFromParams: function () {
      for (var a = 0; a < this.utmParams.length; a++) {
        var c = this.utmParams[a];
        var b = this.getParameterByName(c);
        this.createCookie(c, b, this.cookieExpiryDays);
      }
    },
    writeCookieOnce: function (a, c) {
      var b = this.readCookie(a);
      if (!b) {
        this.createCookie(a, c, this.cookieExpiryDays);
      }
    },
    writeReferrerOnce: function () {
      value = document.referrer;
      if (value === '' || value === undefined) {
        this.writeCookieOnce('referrer', 'direct');
      } else {
        this.writeCookieOnce('referrer', value);
      }
    },
    referrer: function () {
      return this.readCookie('referrer');
    },
  };
  utmCookie.writeReferrerOnce();
  if (utmCookie.utmPresentInUrl()) {
    utmCookie.writeUtmCookieFromParams();
  }
</script>
<!-- End for saving cookie -->
<!-- ManyChat -->
<script src="//widget.manychat.com/369241_e8d30.js" defer="defer"></script>
<script src="https://mccdn.me/assets/js/widget.js" defer="defer"></script>
