@use '../../global'as *;

.quiz-section {
  display: flex;
  flex-direction: column;

  &_bg {
    &_gray {
      background-color: #F5F5F5;
    }
  }
}

.quiz-section__body {
  padding-bottom: 64px;
  flex-grow: 1;
}
