@use '../../global'as *;

.quiz-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.quiz-card__header {
}

.quiz-card__body {
  margin-top: 1em;
  gap: 1em;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  //margin: -24px;
}

.quiz-card__answer {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  //margin: 24px;
  vertical-align: top;
  max-width: 100%;
  min-width: 0;
}
