@use '../../global'as *;

.quiz-section {
  display: flex;
  flex-direction: column;

  &_bg {
    &_gray {
      background-color: #F5F5F5;
    }
  }
}

.quiz-section__body {
  flex-grow: 1;
  width: 74%;
  margin: 0 auto;

  @media screen and (max-width: $bp-tablet) {
    width: 100%;
  }
}
