
.quiz-progress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quiz-progress__title {

}

.quiz-progress__bar {
  margin-top: 0.5em;
  width: 100%;
}

.quiz-progress__score {

}
