@use '../../global'as *;

.header {
  background: $white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  height: $header-height;
  width: 100%;
  padding: 10px 20px 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-header;

  @media screen and (min-width: 1442px) {
    $top: 10px;
    $right: 20px;
    $bottom: 10px;
    $left: 20px;

    padding-top: #{get-vw($top, 1442px)};
    padding-right: #{get-vw($right, 1442px)};
    padding-bottom: #{get-vw($bottom, 1442px)};
    padding-left: #{get-vw($left, 1442px)};
  }

  @media screen and (max-width: 768px) {
    padding: 12px;
  }
}

.header__inner {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
}

.header__logo {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  @media screen and (max-width: 465px) {
    justify-content: center;
  }
}

.header__action {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.header__action-item {
  outline: none;

  & + & {
    margin-left: 12px;
    border-left: 1px solid #C4C4C4;
    padding-left: 12px;
  }

  &_call {
    @media screen and (max-width: 465px) {
      display: none;
    }
  }
}
