// Colors
$dark-blue: #111e44;
$light-blue: #3361e9;
$white: #ffffff;
$black: #000000;
$gray: #f5f5f5;
$gray-dark: #b3b3b3;
$green: #219653;
$outline-green: #4fc074;
$subtitleBackground: #001437;
$colorShadow: rgba(0, 0, 0, 0.25);
$borderColor: rgba(0, 0, 0, 0.3);
$tg-blue: #36acf2;

$fontMain: "Roboto", Arial, sans-serif;

// Sass Screen Variables
$bp-mobile: 486px;
$bp-menu: 765px;
$bp-tablet: 924px;
$bp-laptop: 1024px;
$bp-large: 1440px;

$header-height: 58px;
$navbar-width: 283px;

$z-index-select-items: 5;
$z-index-loader: 6;
$z-index-nav: 10;
$z-index-header: 15;
$z-index-drop-down-menu: 20;

%text-default {
  font-family: $fontMain;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;

  @media screen and (min-width: $bp-large) {
    font-size: #{get-vw(14px, $bp-large)};
  }
}
